// $main-color:#062794;
$color-gray:rgb(250,250,250);
$color-gray-2:rgb(234,234,234);
$color-gray-3:rgb(230,230,230);
$color-gray-4:rgb(228, 228, 228);
$color-white:"#fff";
$color-black:rgb(33,33,33);





// FONT
// $font-family: "Lexend", "sans-serif";
$default-font-size: 12px; // 1rem = 16px 1.6rem=
// $font-icon-size:1.
$default-font-size-2: 14px;
$default-font-size-3: 1.2rem;
$default-font-size-4: 1rem;
$default-font-size-5: 0.8rem;
$default-font-size-6: 0.6rem;
$default-font-size-7: 4.6rem;


$min-margin:10px;
$normal-margin:20px;
$large-margin:60px;