.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__burger {
    // position: absolute;
    // left: calc(100% - 5rem);
    // display: none;
    display: none;
    @include respond(tab-port) {
      display: block;
      cursor: pointer;
      //   font-size: 16px;
    }
  }

  &__services {
    font-weight: 500;

    // display: flex;
    // align-items: center;
  }
  &__wrapper {
    list-style-type: none;
    display: flex;

    @include respond(tab-port) {
      //   display: none;
    }

    // &:nth-child(2) {
    //     // LIST
    // }
    a {
      text-decoration: none;
      color: $color-black;
      font-weight: 500;
    }
  }
  &__features {
    display: flex;
    align-items: center;
    gap: 10px;
    @include respond(tab-port) {
      display: none;
    }
  }

  &__item {
    position: relative;
    padding: 8px;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      //   top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 0;
      height: 2px;
      background-color: $color-black;
      transition: all 0.3s;
      transform-origin: left;
    }
    &:hover::before {
      transform: scaleX(1);
      width: 100%;
    }

    // display: inline-block;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  //   &__icon{
  //     background-color: red;

  // }
  @include respond(tab-port) {
    // flex-direction: column;
    // align-items: flex-start;
    &__wrapper {
      display: none;
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 800;
  display: none;
  &.active {
    display: block;
  }
}
.about {
  margin-top: 40px;
  text-align: center;
  * {
    width: 60%;
    @include respond(tab-port) {
      width: 100%;
    }
  }
  position: relative;
  &__img {
    position: relative;
    margin-top: $normal-margin;
    width: 100%;
    height: 50vh;
    // top: 0;
    // left: 0;
    object-fit: cover;
    background-position: center;
    z-index: -1;
    border-radius: 70px;
  }
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include respond(tab-port) {
      flex-direction: row;
      gap: 10px;

      flex-wrap: wrap;
    }
    align-items: center;
    text-align: center;
    margin-top: $normal-margin;
  }
}

// INTERFACE TITLE
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;

  &__main {
    font-size: $default-font-size;
    font-weight: 500;
    color: #696868;
  }
  &__description {
    // font-size: 45px;
    font-weight: 600;
    line-height: 1;
    margin-top: $min-margin;
  }
}
.large {
  font-size: 4.5rem;
}
.medium {
  font-size: 3.5rem;
}
.counter {
  line-height: 1.2;
  cursor: pointer;

  // text-align: left;
  padding: 10px;
  flex-basis: 18%;
  &__count {
    width: 100%;
    font-weight: 600;
    font-size: 30px;
  }
  &__description {
    width: 100%;
  }

  box-shadow: -2px 2px 23px -14px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 2px 23px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 23px -14px rgba(0, 0, 0, 0.75);
  @include respond(tab-port) {
    // width: 50%;
    flex-basis: 45%;

    // Le dernier élément prend 100% de la largeur s'il est impair
    &:nth-child(odd):last-child {
      flex: 1;
    }
  }
}
.features {
  margin-top: $large-margin;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: $large-margin;
    @include respond(tab-port) {
      flex-direction: column;
      gap: 10px;
    }
    // *{
    //   flex-basis: 30%;

    // }
  }
}

.landing {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  margin-top: $large-margin;
  gap: 20px;
  @include respond(tab-port) {
    flex-direction: column;
    gap: 10px;
    // margin-top: 10px;
    img {
      display: none;
    }
  }
  height: 65vh;
  @include respond(phone) {
    height: 100%;
  }
  overflow: hidden;
  &__wrapper {
    position: relative;
    flex-basis: 50%;
    @include respond(tab-port) {
      &:nth-child(1) {
        display: none;
      }
    }
    img {
      position: relative;
      width: 100%;
      object-fit: cover;
      // height: 50rem;
      object-position: center;
      overflow: hidden;
      border-radius: 30px;
    }
    &:nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__title {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
  }
  &__description {
    margin-top: $normal-margin;
    line-height: 1.5;
    font-weight: 400;
    // font-size: 1.5rem;
    color: #717171;
  }
  &__button {
    margin-top: $normal-margin;
    display: flex;
    gap: 10px;
    @include respond(tab-port) {
      width: 100%;
    }
  }
}
.elevate {
  margin-top: $large-margin;
  // @include respond(tab-port) {
  //   margin-top: 10px;
  // }
  &__zone {
    display: flex;
    justify-content: space-between;
    margin-top: $large-margin;
    @include respond(tab-port) {
      // flex-direction: column;
      flex-direction: column-reverse;
      gap: 10px;
    }
  }
  &__wrapper {
    flex-basis: 50%;
    @include respond(tab-port) {
      &:nth-child(1) {
        // margin-top: 10px;
        flex-direction: row;
      }
    }
  }
  img {
    width: 100%;
    object-fit: cover;
    // height: 50rem;
    object-position: center;
    overflow: hidden;
    border-radius: 30px;
  }
  &__title {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 600;
  }
  &__mana{
    margin-top: $normal-margin;
  }
}
.team{
  margin-top: $large-margin;
  &__member{
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

    
    
    // margin-top: $normal-margin;
    // padding: 20px;
    @include respond(tab-port) {
      flex-direction: column;
      gap: 10px;
    }
  }
  &__element{
    cursor: pointer;
    margin-top: $normal-margin;    
    width: 200px;
    height: 200px;
    flex-basis: 20%;
    box-shadow: -2px 2px 23px -14px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 2px 23px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 23px -14px rgba(0, 0, 0, 0.75);
    position: relative;
    overflow: hidden;
    transition: 0.5s all ease;
    @include respond(tab-port) {
      width: 100%;
      padding: 10px;
      flex: 1;


    }
&:hover{
  transform: translate(0, -10px);
}
    &--wrapper{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
    }
 
  }
  &__image{
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 80px;
  }
  &__job{
    color: #717171;
  }
}