.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__burger {
    // position: absolute;
    // left: calc(100% - 5rem);
    // display: none;
    display: none;
    @include respond(tab-port) {
      display: block;
      cursor: pointer;
      //   font-size: 16px;
    }
  }

  &__services {
    font-weight: 500;

    // display: flex;
    // align-items: center;
  }
  &__wrapper {
    list-style-type: none;
    display: flex;

    @include respond(tab-port) {
      //   display: none;
    }

    // &:nth-child(2) {
    //     // LIST
    // }
    a {
      text-decoration: none;
      color: $color-black;
      font-weight: 500;
    }
  }
  &__features {
    display: flex;
    align-items: center;
    gap: 10px;
    @include respond(tab-port) {
      display: none;
    }
  }

  &__item {
    position: relative;
    padding: 8px;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      //   top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 0;
      height: 2px;
      background-color: $color-black;
      transition: all 0.3s;
      transform-origin: left;
    }
    &:hover::before {
      transform: scaleX(1);
      width: 100%;
    }

    // display: inline-block;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  //   &__icon{
  //     background-color: red;

  // }
  @include respond(tab-port) {
    // flex-direction: column;
    // align-items: flex-start;
    &__wrapper {
      display: none;
    }
  }

  //   &__wrapper.active {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: flex-start;
  //     width: 100%;
  //     background-color: white;
  //     position: absolute;
  //     // top: 60px; // Adjust according to your header height
  //     left: 0;
  //     z-index: 10;
  //     // padding: 1rem;

  //     a {
  //       padding: 0.5rem 0;
  //       width: 100%;
  //     }
  //   }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 800;
  display: none;
  &.active {
    display: block;
  }
}
.about {
  margin-top: 40px;

  * {
    width: 60%;
    @include respond(tab-port) {
      width: 100%;
    }
  }
  position: relative;
  &__img {
    position: relative;
    margin-top: $normal-margin;
    width: 100%;
    height: 50vh;
    // top: 0;
    // left: 0;
    object-fit: cover;
    background-position: center;
    z-index: -1;
    border-radius: 70px;
  }
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include respond(tab-port) {
    //   flex-direction: column;
      flex-wrap: wrap;
    }
    align-items: center;
    text-align: center;
    margin-top: $normal-margin;
  }
}

// INTERFACE TITLE
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;

  &__main {
    font-size: $default-font-size;
    font-weight: 500;
    color: #696868;
  }
  &__description {
    // font-size: 45px;
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 1;
    margin-top: $min-margin;
  }
}
.counter {
  line-height: 1.2;
  // text-align: left;
  &__count {
    font-weight: 600;
    font-size: 30px;
  }
  @include respond(tab-port) {
    width: 50%;


    // Le dernier élément prend 100% de la largeur s'il est impair
    &:nth-child(odd):last-child {
      width: 100%;
    }
  }
}
