.elevates{
    &__title{
        font-size: 20px;
        line-height: 1;
        font-weight: 600;
    }
    &__description{
        margin-top: 10px;
        margin-left: 20px;;
        color: #717171;
    }


    margin-top: 20px;
    width: 80%;
}